.channel {
  padding-left: 10px;
}

.channel_name {
  font-weight: bold;
}

.client {
  color: #505050;
}

td.ts3-tree {
    padding: 0 !important;
}

.ts3-container .widget-table .td-label {
    width: inherit;
}

.ts3-container .widget-table {
    margin-bottom: 0;
}

.ts3-container .widget-table .td-label {
    max-width: 90px;
    width: 90px;
}

/* Special Spacers */
.solidline .channel_name,
.dashline .channel_name,
.dotline .channel_name {
    display: none;
}

.solidline {
    border-bottom: 1px solid #000;
    margin: 3px 8px;
}

.dashline {
    border-bottom: 1px dashed #000;
    margin: 3px 8px;
}

.dotline {
    border-bottom: 1px dotted  #000;
    margin: 3px 8px;
}
